body {
   background: black;
   color: lightgray;
   border: solid 1px lightgray;
   margin: 1em auto;
   max-width: 50em;
   padding: 0em 1em 1em 1em;
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a {
   color: white;
   font-weight: bold;
}

ul {
   list-style-type: "* ";
}

header#banner {
   display: none;
}

nav#menu {
   width: 100%;
   text-align: center;
}

nav#menu ul {
   list-style: none;
}

nav#menu ul li {
   display: inline;
}

nav#menu ul li::after {
   content: ' | ';
}

nav#menu ul li:last-child::after {
   content: '';
}

footer#contentinfo {
   font-size: 0.7em;
   text-align: center;
}

ol#post-list {
   list-style: none;
   padding-left: 0em;
}

footer.post-info {
   font-size: 0.8em;
}

@media only screen and (max-width: 900px) {
   body {
      width: 87%;
   }
}
