{% extends "!simple/article.html" %}

{% block head %}
{{ super() }}
   <meta property="og:type" content="article" />
   <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
   <meta property="og:title" content="{{ article.title }}" />
   <meta property="og:description" content="{{ article.summary | striptags }}" />
   <meta property="og:image" content="{% if article.opengraph_image is defined %}{{ SITEURL }}/{{ article.url }}{{ article.opengraph_image }}{% else %}{{ SITEURL }}/images/gamerdonkey_g_logo_og.png{% endif %}" />
{% endblock %}
